/*font open sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	background-color: #FAFAFA;
	font-family: 'Open Sans', sans-serif;
}
.input-from{
	background-color: #fff;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	width: 95%;
	height: 60px;
	padding: 15px;
	font-weight: bold;
}
.btn-primary{
	width: 130px;
	height: 40px;
	font-weight: bold;
}
.table a{
	text-decoration: none;
	color: #F01919;
}
